{% extends "base.html" %}
{% block head %}<title>Home page</title>{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Welcome To Our Review Website</h1>
    <p class="lead">Here you can read product reviews posted by our customer, so that it helps us and you to improve or
         take a right decision.
    </p>
    <hr class="my-4">
    <p>Sign Up!, and become a part of a community that helps us deliver values not just products</p>
    <a class="btn btn-outline-primary btn-lg" href="{{url_for('register')}}" role="button">Sign Up</a>
  </div>
{% for review in reviews %}
<div class="card bd-highlight" id=box style=" margin-bottom:2rem;">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title flex-grow-1">{{ review.title}}</h4>
        </div>
        <h5 class="card-subtitle mb-2">Product Name:{{ review.product_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Writtten by {{ review.author.username }} on {{ review.date_posted.strftime('%Y-%m-%d') }}</h6>
       
        <p class="card-text block-quote" style="white-space:pre-wrap">{{ review.content }}</p>
       
        {{review.upvotes}} <a style="margin:0px 0.1rem;" href="/home/upvotes/{{ review.id }}">   <i class="fas fa-thumbs-up"> </i></a>
        {{ review.downvotes }}  
        <a style="margin-left:0.1rem;" class=""href="/home/downvotes/{{ review.id }}">  <i class="fas fa-thumbs-down"></i></a>
        
        
    </div>
</div>
{% endfor %}

{% endblock %}
